@{
    ViewData["Title"] = "Profile";
}


<div>
    <h1>@ViewData["Title"]</h1>

    <a class="btn" href="/KmPerDays" style="background-color: #2C7865; color: white;">View KmPerDay</a>
    <a class="btn" href="/Bikes" style="background-color: #2C7865; color: white;">View Bikes</a>
    <a class="btn" href="/WorkshipSuppliers/GetFilteredByUser" style="background-color: #2C7865; color: white;">View WorkshipSuppliers</a>
</div>
