@model PendeloApp.Models.KmPerDay

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>KmPerDay</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DriveDate" class="control-label"></label>
                <input asp-for="DriveDate" class="form-control" />
                <span asp-validation-for="DriveDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Kilometers" class="control-label"></label>
                <input asp-for="Kilometers" class="form-control" step="any" />
                <span asp-validation-for="Kilometers" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <div class="btn-group" role="group" aria-label="Basic example">
                    <input type="submit" value="Create" class="btn" style="background-color: #2C7865; color: white;" />
                    <a asp-action="Index" class="btn btn-warning">Back to List</a>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
