@model PendeloApp.Models.KmPerDay

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>KmPerDay</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="UserID" class="control-label"></label>
                <input type="text" asp-for="UserID" class="form-control" readonly="readonly" />
                <span asp-validation-for="UserID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DriveDate" class="control-label"></label>
                <input asp-for="DriveDate" class="form-control" />
                <span asp-validation-for="DriveDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Kilometers" class="control-label"></label>
                <input asp-for="Kilometers" class="form-control" />
                <span asp-validation-for="Kilometers" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <div class="btn-group" role="group" aria-label="Basic example">
                    <input type="submit" value="Save" class="btn btn-primary" style="background-color: #2C7865; color: white;" />
                    <a asp-action="Delete" class="btn btn-danger" asp-route-id="@Model?.ID">Delete</a>
                    <a asp-action="Index" class="btn btn-warning">Back to List</a>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
