@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<h3>@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <div class="form-floating mb-3">
            <input asp-for="Input.CustomName" class="form-control" placeholder="Username" readonly />
            <label asp-for="Input.CustomName">Username</label>
            <span asp-validation-for="Input.CustomName" class="text-danger"></span>
        </div>
        <div class="form-floating mb-3">
            <input asp-for="Username" class="form-control" placeholder="E-Mail" readonly />
            <label asp-for="Username" class="form-label"></label>
        </div>
        <div class="form-floating mb-3">
            <input asp-for="Input.FirstName" class="form-control" placeholder="First Name" readonly />
            <label asp-for="Input.FirstName">First Name</label>
            <span asp-validation-for="Input.FirstName" class="text-danger"></span>
        </div>
        <div class="form-floating mb-3">
            <input asp-for="Input.LastName" class="form-control" placeholder="Last Name" readonly />
            <label asp-for="Input.LastName">Last Name</label>
            <span asp-validation-for="Input.LastName" class="text-danger"></span>
        </div>
        <div class="form-floating mb-3">
            <textarea asp-for="Input.About" class="form-control" placeholder="About" readonly></textarea>
            <label asp-for="Input.About">About</label>
            <span asp-validation-for="Input.About" class="text-danger"></span>
        </div>
        <div class="form-floating mb-3">
            <input asp-for="Input.Birthday" type="date" class="form-control" readonly />
            <label asp-for="Input.Birthday">Birthday</label>
            <span asp-validation-for="Input.Birthday" class="text-danger"></span>
        </div>
        <div class="form-floating mb-3">
            <input asp-for="Input.PhoneNumber" class="form-control" placeholder="Phone Number" readonly />
            <label asp-for="Input.PhoneNumber" class="form-label"></label>
            <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
        </div>
        <div class="form-floating mb-3">
            <input asp-for="Input.Created" type="datetime-local" class="form-control" readonly />
            <label asp-for="Input.Created">Created</label>
            <span asp-validation-for="Input.Created" class="text-danger"></span>
        </div>
    </div>
</div>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
